body{
  background-image: url(https://i.imgur.com/bRJ9Eki.jpeg)
  
}
.nav{
  display:flex;
  justify-content: space-between;
  background-color: rgb(161, 191, 199);
  color:black;
  padding: 15px;
  font-size:large;
  font-weight: bold;
  border-style:solid;
  border-width: 5px;
 
}

.stocks{
display:flex;
font-size:large;
font-weight: bold;

}